.footer__column-link {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #f1f1f1;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: .5;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}
